/**FOOTER*/
.imagenRedes {  
    width: 2.5em;
}
footer {
    position: relative;
    margin: auto;
    border: 0.2em solid red;  
    height: 100%; 
    background-color: #910707;
}
.textoFooter p {
    color: black;
}
.textoFooter {
    position: relative;
    margin: auto;
    padding: 1em;
    text-align: center;
}