/**LE DAMOS TAMAÑO AL HTML PARA QUE PILLE TODO*/
html {
    height: 100%;
    width: 100%;
    padding: 0; 
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background-image: url('../img/fondo.png');
} 
main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer'; 
}
header {
    grid-area: header;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    flex-direction: column;
    z-index: 100;
}
header .logo img { 
    max-width: 150px;
}
/*CENTRAMOS Y AJUSTAMOS EL TAMAÑO DEL LOGO Y SU CONTENEDOR*/
.logoCentro img { 
    display:block;  /**CENTRAMOS IMG*/
    margin:auto;
    width: 10em;
    
}
.block {  
    position: relative;
    margin: auto;
    background-color: black;
    width: 10em;
    padding: 0.3em;
}
/*ANIMACION DEL LOGO*/
.block:before, .block:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094,       #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
    -webkit-animation: steam 20s linear infinite;
}
@keyframes steam {
    0% {
    background-position: 0 0;
    }
    50% {
    background-position: 400% 0;
    }
    100% {
    background-position: 0 0;
    }
}
/*BLUR PARA QUE DE EFECTO DE FONDO*/
.block:after {
    filter: blur(5px); 
}

/*NAVEGACIÓN*/
.navigation { 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}

.navigation li {
    list-style: none;
    margin: 0 10px;
}

.navigation li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

.navigation li:hover a {
    color: #de0611;
}
/*CAMPO BUSQUEDA*/ 
.search { 
    position: relative;
    width: calc(100% - 20px);
    height: 40px;
}
.search input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(247, 16, 16);
    background: transparent;
    border: 1px solid rgba(255,255,255,0.5);
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 45px;
    backdrop-filter: blur(10px);
}

.search input::placeholder {
    color: rgb(255, 255, 255);
}
.search .busqueda { 
    filter: invert();
    height: 1em; 
    position: absolute; 
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    padding-right: 50px;
    color: rgb(0, 0, 0);
    border-radius: 1px solid rgb(8, 8, 8);
}
/*REDES*/
.media-icons a img {
    grid-area: main;
    width: 1em;
    filter: invert();
    height: 1em;
}
main .media-icons{
    z-index: 888;
    position: absolute; 
    right: 1em;
    bottom: 6em;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}
  
main .media-icons a{
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}
  
main .media-icons a:not(:last-child){
    margin-bottom: 20px;
}
  
main .media-icons a:hover{ 
    border-radius: 1em; 
    background-color: #de0611;
    transform: scale(1.3);
}
/*TEXTO ENCIMA DE SLIDER*/
.promo { 
    color: white; 
    position: absolute;
    top: 12em;
    left: 1.3em;
    z-index: 999;
}  
.promo p { 
    padding-left: 0.3em;
    max-width: 8em; 
}
/*CONTENIDO SLIDER*/
.container {
    margin-top: 11vh;
    grid-area: main;
    width: 100%;
    height: auto;
    background: transparent; 
    backdrop-filter: blur(1px);
}
.slider-container {
    max-width: 100em;
    height: auto;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider a img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}
/*BOTONES SLIDER*/
.prev-button, .next-button {
    width: 1em;
    height: 0.8em;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    transition: 0.3s ease;
}
.prev-button {
    color: white;
    left: 0;
}
.next-button {
    color: white;
    right: 0;
}
.prev-button:hover, .next-button:hover {
    color: red;
}
.lines {
    position: absolute;
    display: flex;
    bottom: 0.3em;
}
.line {
    padding: 0.2em 0.7em;
    margin: 0 0.2em;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.active, 
.line:hover {
    background-color: red;
}
.slider { 
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

/*FOOTER*/ 
footer hr {
    margin: auto auto;
    margin-bottom: 1em;
    max-width: 30em; 
    border: 1px solid rgb(147, 5, 5);
}
footer {
    grid-area: footer; 
    background-color: rgb(29, 7, 7);
    padding: 20px;
    text-align: center;
    color: white; 
}
@media (min-width: 700px) { /*TABLET*/
    .promo {  
        top: 14em;
        left: 8em; 
    }  
    .promo h1 { 
        font-size: 3.7em;
    }
    .promo p {  
        font-size: 1.5em;
    }
    .slider a img {
        margin-top: 1.5em;
        height: 20em;
    }
    .prev-button { 
        left: 13vw;
        font-size: 2em;
    }
    .next-button { 
        right: 13vw;
        font-size: 2em;
    }

}
@media (min-width: 1000px) {    /*PC*/
    header {
        padding: 20px 50px;
        flex-direction: row; 
    }
    .container { 
        margin-top: 0;
    }
    .navigation {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 10px 0;
        width: 80%;
    }
    .search {
        width: 20%;
    }
    main .media-icons{ 
        bottom: 1em; 
    }
    .promo {  
        top: 10em;
        left: 12em; 
    }  
    .promo h1 { 
        font-size: 5em;
    }
    .promo p {  
        font-size: 2em;
    }
    .slider a img {
        width: 70vw;
        height: auto;
    }
    .prev-button { 
        left: 14.5vw;
        font-size: 3em;
    }
    .next-button { 
        right: 14.5vw;
        font-size: 3em;
    }

}

@media (min-width: 1030px) {    /*PC ULTRA*/
    .container { 
        margin-top: 9vh;
    }
    .promo {  
        top: 8em;
        left: 18em; 
    }  
    .promo h1 { 
        font-size: 7em;
    }
    .promo p {  
        font-size: 3em;
    }
}