/**Importo las fuentes necesarias*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');   /**TITULOS*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');    /**SUBTITULOS*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');  /**3SUBTITUOS*/
/**LE DAMOS TAMAÑO AL HTML PARA QUE PILLE TODO*/
html {
    height: 100%;
    width: 100%;
    padding: 0; 
    margin: 0;
}
/**A TODO*/
*{ 
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    color: white;
    width: 100%;
    height: 100%;
    padding: 0; 
    margin: 0;
    /**FONDO*/
    background-image: url("../img/fondo.png");  /**Le asignamos un fondo y que cubra todo sin repetirse. Es responsive.*/
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; 
    backdrop-filter: brightness(90%);   /**Le ponemos menos brillo*/
}

header {
    font-family: 'Noto Serif', serif;
    background-color: black; 
    padding: 0.2em;
}
.formato {
    height: 100%;
}
.logo img {
    width: 100%;   
} 
nav a { 
    font-weight: 600;
    padding-right: 0.4em;
    color: white; 
}
nav a:hover {
    color: red; 
}  
.menu { 
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    align-items: center;
    justify-content: space-between; 
    
}
/**ANIMACION DEL HEADER*/
header { 
    background-color: black;
    width: 90%;
    height: 100%;
    margin-top: 1em;
    padding: 0.3em; 
}
/**ANIMACION DEL LOGO*/
header:before, header:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094,       #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
    -webkit-animation: steam 20s linear infinite;
}
@keyframes steam {
    0% {
    background-position: 0 0;
    }
    50% {
    background-position: 400% 0;
    }
    100% {
    background-position: 0 0;
    }
}
/**BLUR PARA QUE DE EFECTO DE FONDO*/
header:after {
    filter: blur(50px);
    -webkit-filter: blur(50px);
}

@media only screen and (min-width: 700px) {    
    .logo img {
        width: 40%;   
        display:block;  /**CENTRAR IMG*/
        margin:auto;
    } 
    .menu {
        flex-direction: row; 
        gap: 4em;
        justify-content: center;
    }
}
@media only screen and (min-width: 1000px) { 
    header {
        display: flex;
        flex-direction: row;
    }
    .formato {
        width: 100%;
        display: flex; 
    }
    .menu {
        width: 100%;
    }
    .logo {
        align-self: center;
    } 
    .logo img {
        width: 80%; 
    }

}
